[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
setuptools = "*"
requests = "*"
djangorestframework-gis = "*"
unittest-xml-reporting = "*"

[dev-packages]

[requires]
python_version = "3.12"
